<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>jinja operational tags using for loops using inline tag</h1>
        {% for char in name %}
             {{char}}
        {% endfor %}
        <h1>jinja operational tags using for loops using block level tag</h1>
        {% for char in name %}
             <h3>{{char}}</h3>
        {% endfor %}
    </center>
    
</body>
</html>